<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Food Online On Foodieie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <% if(user.signed_in) {%>
      <div id="mySidenav" class="sidenav" >
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: black;">&times;</a>
        <!-- <br> -->
        <label for="uname"><b>Username:</b></label>
        <br>
        <div style=" margin-left: 5px;"><b><%= user.userDetail.name %></b></div>
        <hr>
        <label for="uname"><b>Phone:</b></label>
        <br>
        <div style=" margin-left: 5px;"><b><%= user.userDetail.phone %></b></div>
        <hr>
        <label for="uname"><b>Email:</b></label>
        <br>
        <div style=" margin-left: 5px; text-transform: lowercase;"><b><%= user.userDetail.email %></b></div>
        <hr>
        <b><span class="navbar-toggler navbar-toggler-right" style="cursor: pointer; color: black; border-color: black; float: right; margin-right: 70px; margin-top: 30px;" onclick="openNavUpdate() ">Edit Profile</span></b>
      </div>
      
      <div id="updateProfile" class="updateProfile">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavUpdate()" style="color: black;">&times;</a>        
        <form action="/update-profile" method="post">
          <label for="uname"><b>Email:</b></label>
          <br>
          <input type="email" name="email" value="<%= user.userDetail.email %>" required>
          <hr>
          <label for="uname"><b>Phone:</b></label>
          <br>
          <input type="text" name="phone" value="<%= user.userDetail.phone %>" required>
          <hr>
          <label for="uname"><b>Password:</b></label>
          <br>
          <input type="password" name="password" value="<%= user.userDetail.password %>" required>
          <hr>
          <b><button class="navbar-toggler navbar-toggler-right" type="submit" data-toggle="collapse" data-target="#navb" style="cursor: pointer; color: black; border-color: black; float: right; margin-right: 100px; margin-top: 30px; text-align: center;">Update</button></b>
        </form>
      </div>
    <%}%>   

    <div style="background-color:#343a40; width: 100%; height: 85px; position: fixed; z-index: 1; align-items: center; top: 0; left: 0; right: 0;">
    <nav class="navbar navbar-expand bg-dark" style="margin-left: 100px; max-width: 1270px; min-width: 1270px; z-index: 100; position: fixed;">
      <a class="navbar-brand" href="/homepage"><h3 style="margin-left: 40px; color: #fc8019;"><b>FoodiePie</b></h3></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" style="color: white;">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="dropdown" style="text-align: center; align-content: center; text-align: center;">
              <p type="text" class="nav-link dropdown-toggle" data-toggle="dropdown" style="background-color: #343a40; color: white; cursor: pointer; align-self: center; padding-top: 20px; display: block; padding-left: 5px; margin-left: 5px;  text-overflow: ellipsis; overflow: hidden;white-space: nowrap; max-width: 300px;">
                <%= location %>
              </p>
              <div class="dropdown-menu" style="padding-top: 10px; margin-top: 30px; ">
                <form class="form-inline fmy-2 my-lg-0 dropdown-item" action="/search-by-location" method="post">
                  <input class="form-control mr-sm-2" type="text" placeholder="Enter your location" id="location" name="location" value="" style="width:400px; margin-left: 10px; border-color: black;" required>
                  <br>
                  <input class="form-control mr-sm-2" type="text" placeholder="Enter your city" id="city" name="city" value="" style="width:400px; margin-left: 10px; border-color: black; margin-top: 5px;" required>
                  <button class="navbar-toggler navbar-toggler-right dropdown-item" type="submit" data-toggle="collapse" data-target="#navb" id="locationButton">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </form>
              </div>
            </div> 
          </li>          
        </ul>
        <ul class="navbar-nav" style="margin-right: 50px; font-size: 16px;font-weight: 500;"> 
          <li class="nav-item">
            <h4 type="button" class="btn" data-toggle="modal" data-target="#myModal" style="background-color: #343a40 !important; border-color: #343a40 !important; margin-right: 30px; color: white;">
              <i class="fa fa-search"></i>
            </h4>
            <!-- The Modal -->
          </li>
          <% if(user.signed_in) {%>
            <li class="nav-item">
              <div class="dropdown" style="text-align: center; align-content: center; height: 10px">
                <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" style="background-color: #343a40; color: white; margin-right: 30px; padding-top: 5px; margin-top: 5px">
                  Hello! <%= user.userDetail.name %>
                </a>
                <div class="dropdown-menu" style="padding-top: 10px; margin-top: 30px">
                  <span class="dropdown-item" style="cursor:pointer" onclick="openNav()">Your Account</span>
                  <a class="dropdown-item" href="/orders">Your Orders</a>
                  <a class="dropdown-item" href="/viewCart">Your Cart</a>
                  <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
              </div> 
            </li>
          <%}
          else{%>
            <li class="nav-item">
              <div class="dropdown" style="text-align: center; align-content: center; height: 10px">
                <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" style="background-color: #343a40; color: white; margin-right: 30px; padding-top: 5px; margin-top: 5px">
                  Sign In
                </a>
                <div class="dropdown-menu" style="padding-top: 10px; margin-top: 30px">
                  <a class="dropdown-item" href="/user-signin">As User</a>
                  <a class="dropdown-item" href="/restaurant-signin">As Restaurant</a>
                  <a class="dropdown-item" href="/admin-signin">As Admin</a>
                </div>
              </div> 
            </li>
            <li class="nav-item">
              <div class="dropdown" style="text-align: center; align-content: center; height: 10px">
                <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" style="background-color: #343a40; color: white; margin-right: 30px; padding-top: 5px; margin-top: 5px">
                  Sign Up
                </a>
                <div class="dropdown-menu" style="padding-top: 10px; margin-top: 30px">
                  <a class="dropdown-item" href="/user-signup">As User</a>
                  <a class="dropdown-item" href="/restaurant-signup">As Restaurant</a>
                </div>
              </div>
            </li>
          <%}%>
        <li class="nav-item" style="padding-top: 5px; margin-top: 5px"">
          <a href="/viewCart" style="color: white; text-decoration: none;"><span style="color: white" class="cart" ><%= cart_num %></span><i class="fa fa-shopping-cart fa-lg"></i></a>
        </li>
        </ul>
      </div>
    </nav>
    </div>
    <br>
    <br>
    <div class="container" style="min-width: 1100px;">
      <div class="card-columns" style="column-count: 4;">
        <% for(var i=0; i < searchDetail.length; i++) { %>
          <a href="/restaurant/<%= searchDetail[i].name %>" style="color: black;">
            <div class="card" id="card" style="width: 250px; margin-left: 20px; cursor: pointer;">
              <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/aylqjejobls1aobd0fun" class="card-img-top" alt="">
              <div class="card-body" >
                <h5 class="card-title" class="restaurant" id="restaurant"><%= searchDetail[i].name %></h5>
                <p class="card-text"><p><%= searchDetail[i].type %></p><p>Cost For Two : <%= searchDetail[i].cost %></p></p>
              </div>
            </div>
          </a>
        <%}%>
      </div>
    </div>
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body">
            <form class="form-inline my-2 my-lg-0" action="/searchRestaurant" method="post">
              <input class="form-control mr-sm-2" type="text" placeholder="Search For Restaurant Or Dishes" id="restaurantName" name="restaurantName" value="" style="width:400px; margin-left: 10px">
              <button class="navbar-toggler navbar-toggler-right" type="submit" data-toggle="collapse" data-target="#navb" id="searchByName">
                <span class="navbar-toggler-icon"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        <% if(updateFailed == 1){%>
          alert('Update Failed. Either server issue or this Email or Phone is being used by other user.');
          <%}
          else if(updateFailed == 0){%>
            alert('Update done');
          <%}
        %>
      });

      var input = document.getElementById("location");
      input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          document.getElementById("locationButton").submit();
        }
      });

      function openNav() {
        // document.getElementById("updateProfile").style.width = "0";
        // document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("updateProfile").style.display = "none";
        document.getElementById("mySidenav").style.display = "block";
      }

      function closeNav() {
        // document.getElementById("mySidenav").style.width = "0";
        document.getElementById("mySidenav").style.display = "none";
      }

      function openNavUpdate() {
        // document.getElementById("mySidenav").style.width = "0";
        // document.getElementById("updateProfile").style.width = "280px";
        document.getElementById("mySidenav").style.display = "none";
        document.getElementById("updateProfile").style.display = "block";
      }

      function closeNavUpdate() {
        // document.getElementById("updateProfile").style.width = "0";
        document.getElementById("updateProfile").style.display = "none";
      }
    </script>
  </body>
</html> 
