<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Food Online On Foodieie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="javascript:void(0)" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
      }

      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .container {
        padding: 2px 16px;
      }
      body 
      {
        /* background-image: url('img5.jpeg'); */
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        text-transform: capitalize;
        background-color: rgb(247, 247, 247);
      }
    </style>
  </head>
  <body>
    <div style="background-color:#343a40; width: 100%; height: 85px; position: fixed; z-index: 1; align-items: center; top: 0; left: 0; right: 0;">
      <nav class="navbar navbar-expand bg-dark" style="margin-left: 100px; max-width: 1270px; min-width: 1270px; z-index: 100; position: fixed;">
        <a class="navbar-brand" href="/homepage"><h3 style="margin-left: 40px; color: #fc8019;"><b>FoodiePie</b></h3></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" style="color: white;">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navb">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <div class="dropdown" style="text-align: center; align-content: center; text-align: center;">
                <p type="text" class="nav-link dropdown-toggle" data-toggle="dropdown" style="background-color: #343a40; color: white; cursor: pointer; align-self: center; padding-top: 20px; display: block; padding-left: 5px; margin-left: 5px;  text-overflow: ellipsis; overflow: hidden;white-space: nowrap; max-width: 300px;">
                  <%= location %>
                </p>
                <div class="dropdown-menu" style="padding-top: 10px; margin-top: 30px; ">
                  <form class="form-inline fmy-2 my-lg-0 dropdown-item" action="/search-by-location" method="post">
                    <input class="form-control mr-sm-2" type="text" placeholder="Enter your location" id="location" name="location" value="" style="width:400px; margin-left: 10px; border-color: black;" required>
                    <br>
                    <input class="form-control mr-sm-2" type="text" placeholder="Enter your city" id="city" name="city" value="" style="width:400px; margin-left: 10px; border-color: black; margin-top: 5px;" required>
                    <button class="navbar-toggler navbar-toggler-right dropdown-item" type="submit" data-toggle="collapse" data-target="#navb" id="locationButton">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </form>
                </div>
              </div> 
            </li>          
          </ul>
          <ul class="navbar-nav" style="margin-right: 50px; font-size: 16px;font-weight: 500;"> 
            <!-- <li class="nav-item">
              <h4 type="button" class="btn" data-toggle="modal" data-target="#myModal" style="background-color: #343a40 !important; border-color: #343a40 !important; margin-right: 30px; color: white;">
                <i class="fa fa-search"></i>
              </h4>
              The Modal
            </li> -->
            <% if(user.signed_in) {%>
              <li class="nav-item">
                <div class="dropdown" style="text-align: center; align-content: center; height: 10px">
                  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" style="background-color: #343a40; color: white; margin-right: 30px; padding-top: 5px; margin-top: 5px">
                    Hey! <%= user.userDetail.name %>
                  </a>
                  <div class="dropdown-menu" style="padding-top: 10px; margin-top: 30px">
                    <span class="dropdown-item" style="cursor:pointer" onclick="openNav()">Your Account</span>
                    <a class="dropdown-item" href="/orders">Your Orders</a>
                    <a class="dropdown-item" href="/viewCart">Your Cart</a>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                  </div>
                </div> 
              </li>
            <%}
            else{%>
              <li class="nav-item">
                <div class="dropdown" style="text-align: center; align-content: center; height: 10px">
                  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" style="background-color: #343a40; color: white; margin-right: 30px; padding-top: 5px; margin-top: 5px">
                    Sign In
                  </a>
                  <div class="dropdown-menu" style="padding-top: 10px; margin-top: 30px">
                    <a class="dropdown-item" href="/user-signin">As User</a>
                    <a class="dropdown-item" href="/restaurant-signin">As Restaurant</a>
                    <a class="dropdown-item" href="/admin-signin">As Admin</a>
                  </div>
                </div> 
              </li>
              <li class="nav-item">
                <div class="dropdown" style="text-align: center; align-content: center; height: 10px">
                  <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" style="background-color: #343a40; color: white; margin-right: 30px; padding-top: 5px; margin-top: 5px">
                    Sign Up
                  </a>
                  <div class="dropdown-menu" style="padding-top: 10px; margin-top: 30px">
                    <a class="dropdown-item" href="/user-signup">As User</a>
                    <a class="dropdown-item" href="/restaurant-signup">As Restaurant</a>
                  </div>
                </div>
              </li>
            <%}%>
          <li class="nav-item" style="padding-top: 5px; margin-top: 5px"">
            <a href="/viewCart" style="color: white; text-decoration: none;"><span style="color: white" class="cart" ><%= cart_num %></span><i class="fa fa-shopping-cart fa-lg"></i></a>
          </li>
          </ul>
        </div>
      </nav>
    </div>
    <br>
    <br>
    <h1 id='<%= name %>' style="color: #343a40; margin-left: 180px; margin-top: 50px;"><b><%= name %></b></h1>
    <br>
    <div class="container" style="min-width: 800px; max-width: 1000px;">
      <div class="card-columns" style="column-count: 3;">
        <% for(var i=0; i < searchDetail.length; i++) {%>
          <div class="card" id="card" style="width: auto; margin-left: 20px; cursor: default;">
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/aylqjejobls1aobd0fun" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title" class="dish" id="<%= searchDetail[i].name + '_' + i %>_name"><%= searchDetail[i].name %></h5>
              <p class="card-text" id="<%= searchDetail[i].name + '_' + i %>_quantity"><%= searchDetail[i].quantity %></p>
              <p class="card-text" id="<%= searchDetail[i].name + '_' + i %>_price"><%= searchDetail[i].price %></p>
              <button class="add" style="text-align: center; padding-top: 10px; float: right; margin-bottom: 10px; width: 100%;" id="<%= searchDetail[i].did %>">Add</p>
            </div>
          </div>
        <%}%>
      </div>
    </div>
    <p id="print"></p>

    <script>
      $(document).ready(() => {
        var x = <%= cart_num %> + 1;
        $(document).on('click', '.add', function(data){
          let signed_in = <%= user.signed_in %>;
          if(!signed_in) {
            window.location.href = "/user-signin";
          }
          else {
            console.log('button clicked');
            let dish_id = $(this).attr('id');
            obj = {did:dish_id};
            
            $.post('/addToCart', {obj}, (data) => {
              if(data['done'] == 'done'){                
                $('.cart').html(data.cart_num);
                x = data.cart_num;
                x+=1;                
              }
            })
          }
        });
      });
    </script>
  </body>
</html> 
