<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<title>Restaurant Control</title>
		<style>
			body{
				padding: 5%;
        color: #212529;
        background-color: rgb(227, 227, 227);
        text-transform: capitalize;
			}
		</style>
	</head>
	<body>
		<div class="main">
			<h1  style="margin-left: 13px;" id="<%= objects.rid %>"><%= objects.rname %></h1>
      <br>
			<div class="row col-md-9" style="margin-left: 3px;">					
        <div class="row form-group ">
          <div class="col-md-3">
            <input type="text" class="form-control c"  name="dishes" placeholder="Dish" id="aa">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control c" name="quantity" placeholder="Dish-Quantity" id="ab">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control c" name="price" placeholder="Dish-Price" id="ac">
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary"  id="ac" style="color: white;border-color: black;">Add</button>
            <button class="btn btn-primary"  id="ad" style="color: white;border-color: black;">Logout</button>
            <br>
            <form id="myform" method="post" action="/pending-orders">
              <input type="hidden" name="name" value="value" /> 
              <button onclick="document.getElementById('myform').submit();">Pending Orders</button>
            </form>
          </div>    
        </div>					
      </div>
			<div class="data col-md-9 ">
				<div class="row pl-auto pr-auto" style="height: 50px; color: black; background-color: white; font-size: large;">
					<div class="col-md-3 mt-auto mb-auto c">Dish</div>
					<div class="col-md-3 mt-auto mb-auto c">Volume</div>
          <div class="col-md-3 mt-auto mb-auto c">Price</div>
					<div class="col-md-2 mt-auto mb-auto c">Actions</div>
				</div>				
				<% for(var i = 0;i < objects.dishes.length; i++) { %>
          <div class="row mt-2" id="<%= objects.dishes[i].dish%>">
            <div class="col-md-3 mt-auto mb-auto c" ><input type="text" class="c t" value="<%= objects.dishes[i].dish%>" id="<%= objects.dishes[i].did%>1" style="color: #212529" disabled></div>
            <div class="col-md-3 mt-auto mb-auto c" ><input type="text" class="c t" value="<%= objects.dishes[i].volume%>" id="<%= objects.dishes[i].did%>12" ></div>	
            <div class="col-md-3 mt-auto mb-auto c" ><input type="number" class="c t" value="<%=objects.dishes[i].price%>" id="<%= objects.dishes[i].did%>123"></div>					
            <div class="col-md-1 mt-auto mb-auto c"><button class="c btn btn-md btn-info remove" id="<%= objects.dishes[i].did%>"><i class="fa fa-minus fa-lg remove" ></i></button></div> 
            <div class="col-md-1 mt-auto mb-auto c"><button class="c btn btn-md btn-info update" id="<%= objects.dishes[i].did%>1234" type="submit">Update</button></div> 					
          </div>
				<% } %>
			</div>
		</div>
    <script type="text/javascript" src="/javascripts/restaurant_homepage.js"></script>
  </body>
</html>